.no-spacing {
    margin: 0;
    padding: 0;
}

.low-spacing {
    margin: 0.5em;
    padding: 0.5em;
}

.medium-spacing {
    margin: 1em;
    padding: 1em;
}

.high-spacing {
    margin: 2em;
    padding: 2em;
}

